.videoContainer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.videoPlayer {
  object-fit: contain;
  object-position:center;
  width: 650px;
}
a:hover{
cursor: pointer;
}