.gameList {
  display: grid;
  grid-template-columns: 25vw 25vw 25vw 25vw;
  grid-template-rows: 20% 20% 20% 20% 20%;
}
/* .gameList::content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: teal;

} */

.description{
  padding-top: 120px;
  margin-left:50px;
}

.description h1 {
  color: white;
}

.next{
  display: grid;
  grid-column-start: 3;
  grid-column-end: 4;
  align-self: start;
  justify-self: end;
  margin-bottom: 20px;
  width:50%;
  border: solid black;
  border-radius: 25px;
  cursor: pointer;
  height: 150%;
}

.next:hover{
  background-color: white;
  opacity: 0.4;
}

.back{
  display: grid;
  grid-column-start: 2;
  grid-column-end: 3;
  align-self: start;
  justify-self: start;
  width:50%;
  border: solid black;
  border-radius: 25px;
  cursor: pointer;
  height: 150%;
}

.back:hover{
  background-color: white;
  opacity: 0.4;
}
/* .page {
  position: absolute;
  top: 1000px;
  left: 500px;
  width: 100%;
} */