.home {
  display: flex;
  flex-direction: row;
  height: 90vh;
  width: 100vw;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  column-gap: 10px;
  padding-top: 150px;
}
/* .home {
  display: grid;
  grid-template-columns: 20vw 20vw 20vw 20vw 20vw;
  grid-template-rows: 25% 25% 25% 25%;
  padding-top: 12vh;
} */

.genre {
  display: flex;
  flex-direction: row;
  justify-content: center;
  line-height: 20vh;
  text-align: center;
  vertical-align: middle;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /* background: whitesmoke; */
  background-size: cover;
  background-position: center;
  margin: 2.3%;
  /* position: relative; */
  z-index: 4;
  transition: transform .2s;
}

.genre:Hover {
  /* width: 300px;
  height: 300px; */
  transform: scale(1.5);
}

.genreName{
  background-color: black;
  color: white;
  opacity: 0.8;
  border-radius: 30px;
  align-self: center;
  padding-left:5%;
  padding-right: 5%;
}
/* .genre p:Hover {
  display: block;
} */

/* .home:hover .genre:not(:Hover){
  z-index: -1;
filter: blur(4px);
} */
/* .home:Hover .genre:Hover{
  filter: 0;
  transform: scale(1.5);
} */
/* .genre:Hover #overlay {
  display: block;
} */
/* #overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: -1;
  cursor: pointer;
} */