nav {
  position: fixed;
  background-color: black;
  margin: 0;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.logo{
  display: inline-flex;
  width: 150px;
  height: 100px;
  background-size: 170px;
  background-position: center;
  background-color: white;
  opacity: 0.8;
  border-radius: 25px;
}